<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .fieldError {
          color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <h1 class="mb-3 bread">자동차 관리</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-3 p-lg-5 border">
                        <form th:action="@{'/admin/cars/' + ${cars.number}}" method="get" th:object="${cars}">
                            <table class="table table-responsive-md">
                                <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">자동차명</th>
                                    <th scope="col">상태</th>
                                    <th scope="col">등록자</th>
                                    <th scope="col">등록일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 조회된 데이터를 출력한다. -->
                                <tr th:each="car, status: ${cars.getContent()}">
                                    <th th:text="${car.id}" scope="row"></th>
                                    <td><a th:href="'/admin/rewrite/'+ ${car.id}" th:text="${car.carNm}"></a></td>
                                    <td th:text="${car.carSellStatus}"></td>
                                    <td th:text="${car.createdBy}"></td>
                                    <td th:text="${car.regTime}"></td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example"
                                 th:with="start=${(cars.number/maxPage) * maxPage + 1},
        end= (${(cars.totalPages == 0) ? 1 : (start + (maxPage - 1) < cars.totalPages ? start + (maxPage - 1) : cars.totalPages)}) "
                            >
                                <ul class="pagination d-flex justify-content-center">
                                    <li class="page-item" th:classappend="${cars.first} ? ' disabled'">
                                        <a class="page-link"
                                           th:onclick="'javascript:page(' + ${cars.number - 1} + ')'"
                                        >이전</a>
                                    </li>

                                    <li class="page-item"
                                        th:each="page: ${#numbers.sequence(start, end)}">
                                        <a class="page-link" th:inline="text"
                                           th:onclick="'javascript:page(' + ${page - 1} + ')'"
                                        >[[${page}]]</a>
                                    </li>



                                    <li class="page-item" th:classappend="${cars.last}?' disabled'">
                                        <a class="page-link"
                                           th:onclick="'javascript:page(' + ${cars.number + 1} + ')'"
                                        >다음</a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="row" th:object="${carSearchDto}" style="height: 40px">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-5" style="display: flex">
                                    <!-- 상품 등록일 -->
                                    <select class="form-control" th:field="*{searchDateType}">
                                        <option value="all">전체기간</option>
                                        <option value="1d">1일</option>
                                        <option value="1w">1주</option>
                                        <option value="1m">1개월</option>
                                        <option value="6m">6개월</option>
                                    </select>
                                    <!-- 상품판매 상태 -->
                                    <select class="form-control" th:field="*{searchSellStatus}">
                                        <option value="">판매상태(전체)</option>
                                        <option value="SELL">판매</option>
                                        <option value="SOLD_OUT">품절</option>
                                    </select>
                                    <!-- 상품명, 등록자 선택 -->
                                    <select class="form-control" th:field="*{searchBy}">
                                        <option value="carNm">자동차명</option>
                                        <option value="createdBy">등록자</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <div style="display: flex">
                                        <input type="text" class="form-control" placeholder="검색어 입력" th:field="*{searchQuery}" />
                                        <button id="searchBtn" type="submit" class="btn btn-primary mb-3">검색</button>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $("#searchBtn").on("click", function(e) {
        e.preventDefault(); //submit 방지
        page(0); //검색 이후엔 검색한 페이지의 시작페이지부터 보여준다.
        });

      function page(page) {
        //입력한 값을 전부 가지고 온다.
        var searchDateType = $("#searchDateType").val();
        var searchSellStatus = $("#searchSellStatus").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        //주소 이동
        location.href = "/admin/cars/" + page
            + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
      }
    </script>
</th:block>
</html>